<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ciandt.sample.referenceapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- To auto-complete the username text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- For push notifications -->
    <permission android:name="com.ciandt.sample.referenceapplication.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.ciandt.sample.referenceapplication.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".infrastructure.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- PARSE credentials just to send push notification. Remove these lines in your project -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="xf4nl2pBvNEkGADXxuN8yLzRchlvTqBoOWV2oCg0" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="mmuoBufaET15mKzzBMsrUUT99VnxOqlkRPs7tdNX" />
        <!-- PARSE credentials END -->

        <provider
            android:name=".repository.database.AndroidGuidelinesContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Push notifications BEGIN -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.ciandt.sample.referenceapplication" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.PushNotificationService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.GcmRegistrationService"
            android:exported="false">
        </service>
        <!-- Push notifications END -->
    </application>

</manifest>
